<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <style>
        .textStyle1 {
            margin-top: 2%;
           }
        .textStyle2 {
            margin-top: 5%;
           }
        .textStyle3 {
            margin-top: 2%;
           }
        .buttonStyle1 {
            margin-top: 3%;
        }
    </style>
</head>
    <body>
        <center>
            <div class="textStyle1">
                <font size="6" color="Black">
                    <b>Панель инструментов администратора</b>
                </font>
            </div>
            <div class="textStyle2">
                <font size="5" color="black">
                    1) <a href="/addUser">Добавить пользователя в базу</a>
                </font>
            </div>
            <div class="textStyle3">
                <font size="5" color="black">
                    2) <a href="/reUser">Обновить информацию о пользователе</a>
                </font>
            </div>
            <div class="textStyle3">
                <font size="5" color="black">
                    3) <a href="/delUser">Удалить пользователя из базы</a>
                </font>
            </div>
        </center>
    </body>
</html>